#fullpage {
  min-height: 100vh;

  .content__inner {
    background-color: #282828;
  }

  main {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .content__title {
    color: #f0f0f0;
    font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei', 'Microsoft Yahei', -apple-system, sans-serif;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 40px;
  }

  .content__subtitle {
    color: #f0f0f0;
    font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei', 'Microsoft Yahei', -apple-system, sans-serif;
    font-size: 24px;
  }

  .enter {
    color: #f0f0f0;
    font-size: 20px;
  }

  .animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .main-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    >header {
      text-align: center;
      margin-top:50px;
      animation-duration: 3s;
      animation-delay: 2s;
      -moz-animation-duration: 3s;
      -moz-animation-delay: 2s;
      font-size: 32px;
      font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei', 'Microsoft Yahei', -apple-system, sans-serif;
    }
  }
}
